@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Open+Sans&display=swap");

body {
  margin: 0 auto;
  background-color: whitesmoke;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 30px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 20px;
}

.episode {
  background-color: #fff;
  text-align: center;
}

.episode h1 {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 1.25em;
  border-left: 10px solid black;
  text-align: left;
  padding-left: 5px;
  margin-top: 0;
}

.episode p {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding: 4px 5px 20px 0;
  margin-left: 15px;
}

.search {
  display: inline-block;
  background-color: whitesmoke;
  padding: 15px;
}

.search input {
  width: 300px;
  height: 30px;
  font-size: 1.24em;
  margin: 10px;
  padding: 5px;
}
